.post-container{
    width:100%;
    background-color: #ffffff;
    box-shadow: 1px 1px 7px rgb(205, 205, 205);
    border-radius: 15px;
}
.post-header{
    width: 100%;
    padding: 1.852vh 1.823vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-size: 1.25vw;
}
.user-block{
    display: flex;
}
.avatar{
    width: 7.407vh;
    height: 7.407vh;
    border-radius: 50%;
    object-fit: cover;
}
.name-and-time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 0.781vw;
    box-sizing: border-box;
}
.user-name{
    margin: 0;
    font-size: 1.146vw;
    font-weight: bold;
}

.post-time{
    margin: 0;
    font-size: 0.833vw;
}
.follow-btn{
    font-size: 1.25vw;
    font-weight: bold;
    color: #336CFF;
}
.post-description{
    width: 100%;
    overflow-wrap: break-word;
    padding: 0 1.458vw 1.667vh;
    box-sizing: border-box;
}
.content{
    width: 100%;
    max-height: 2.778vh;
    font-size: 1.302vw;
    font-weight: bold;
    padding: 0 0 0.648vh;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.appointer{
    width: 100%;
    font-size: 1.094vw;
    font-weight: bold;
    color: #646464;
}
.goal{
    width: 100%;
    font-size: 1.094vw;
    font-weight: bold;
    color: #646464;
}
.deadline{
    width: 100%;
    font-size: 1.094vw;
    font-weight: bold;
    color: #646464;
}
.post-img{
    width: 100%;
    max-height: 40.99vw;
    object-fit: cover;
    padding: 0 1.458vw;
    box-sizing: border-box;
    cursor: pointer;
}

.post-footer{
    width: 100%;
    height: 9.722vh;
    display: flex;
    justify-content: space-between;
    padding: 0 1.51vw;
    box-sizing: border-box;
}
.like-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1vw;
    gap: 0.2vw;
    color: #646464;
}
.like-btn-icon{
    width: 1.927vw;
    height: 1.927vw;
}
.repost-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1vw;
    color: #646464;
}
.repost-btn-icon{
    width: 1.719vw;
    height: 1.719vw;
}

h2{
    margin: 0;
}






/* ----------------------  360  ---------------------------- */




/* 



/* -------------------  768  ---------------------------- */



/* 
@media(min-width: 768px){
    .post-container{
        width: 82.292vw;
    }
    .post-header{
        height: 5.859vh;
        font-size: 1.953vh;
    }
    .avatar{
        width: 4.688vh;
        height: 4.688vh;
    }
    .post-img{
        max-height: 48.828vh;
    }
    .post-describtion{
        max-height: 14.648vh;
    }
    .post-footer{
        height: 5.176vh;
    }
    .like-btn img{
        width: 4.557vw;
        height: 2.93vh;
    }
    .comment-btn img{
        width: 4.427vw;
        height: 3.32vh;
    }
    .btn-donate-block{
        width: 23.438vw;
        height: 5.859vh;
        border-radius: 50px;
    }
    .donate-btn{
        width: 15.625vw;
        height: 4.395vh;
        font-size: 1.953vh;
    }
    .donate-btn img{
        width: 4.167vw;
        height: 2.734vh;
    }
    .share-btn img{
        width: 3.906vw;
        height: 2.93vh;
    }
}

 */



/* ------------------  1024  -----------------------------------*/





/* 
@media (min-width: 1024px){
    .post-container{
        width: 450px;
    }
    .post-header{
        height: 50px;
        font-size: 18px;
    }
    .avatar{
        width: 40px;
        height: 40px;
    }
    .post-img{
        max-height: 300px;
    }
    .post-describtion{
        max-height: 100px;
    }
    .post-content{
        max-height: 45px;
        font-size: 17px;
        padding: 5px 5px;
    }
    .post-footer{
        height: 43px;
    }
    .like-btn img{
        width: 28px;
        height: 24px;
    }
    .comment-btn img{
        width: 25px;
        height: 25px;
    }
    .btn-donate-block{
        width: 140px;
        height: 50px;
    }
    .donate-btn{
        width: 106px;
        height: 40px;
        font-size: 18px;
    }
    .donate-btn img{
        width: 30px;
        height: 25px;
    }
    .share-btn img{
        width: 25px;
        height: 25px;
    }
}
 */



/* ------------------  1440  ---------------------------*/


/* 

@media (min-width: 1440px){
    .post-container{
        width: 31.25vw;
    }
    .post-header{
        height: 5.556vh;
        font-size: 1.25vw;
    }
    .avatar{
        width: 4.445vh;
        height: 4.445vh;
    }
    .post-img{
        max-height: 33.333vh;
    }
    .post-describtion{
        max-height: 11.667vh;
    }
    .post-footer{
        height: 4.778vh
    }
    .like-btn img{
        width: 1.944vw;
        height: 2.667vh;
    }
    .comment-btn img{
        width: 1.736vw;
        height: 2.778vh;
    }  
    .btn-donate-block{
        width: 9.722vw;
        height: 5.556vh;
    }
    .donate-btn{
        width: 7.361vw;
        height: 4.444vh;
        font-size: 1.25vw;;
    }
    .donate-btn img{
        width: 1.736vw;
        height: 2.444vh;
    }
    .share-btn img{
        width: 2.083vw;
        height: 2.778vh;
    }
} */