.chat-app-container{
    position: absolute;
    overflow: hidden;
    top: 7.778vh;
    right: 0;
    width: 36.458vw;
    height: 92.222vh;
    z-index: -1;
    transition: 0.2s; 
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 25%);
}

.chat-app{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: -100vh;
    right: -63.542vw;
    background-color: white;
    transition: 0.2s;
}

.user-chat-container{
    width: 100%;
    height: 12.037vh;
    display: flex;
    position: relative;
}
.user-chat-container:hover{
    background-color: #F0F0F0;
}

.avatar-chat{
    width: 4.948vw;
    height: 4.948vw;
    border-radius: 100%;
    margin: 1.62vh 0.417vw 1.62vh 1.042vw;
    object-fit: cover;
}
.userName-chat{
    font-size: 1.302vw;
    font-weight: bold;
    position: absolute;
    left: 6.406vw;
    top: 1.528vh;
}
.last-message{
    position: absolute;
    left: 6.771vw;
    top: 6.3vh;
    font-size: 1.042vw;
}
.check-read-icon{
    width: 2.4vw;
    height: 20px;
    position: absolute;
    top:  0.7vh;
    left: 31.7vw;
    object-fit: cover;
}
.message-time{
    position: absolute;
    font-size: 0.885vw;
    font-weight: bold;
    top: 0.648vh;
    left: 33.698vw;
}
.message-nofication{
    width: 1.563vw;
    height: 1.563vw;
    border-radius: 100%;
    background-color: #616F54;
    color: white;
    font-size: 0.781vw;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 7vh;
    left: 33.906vw;
}



/* ----------------------  768  -----------------------



@media(min-width: 768px){
    .chat-container{
        width: 100vw;
        height: 93.652vh;
        top: 6.348vh;
        transition: 0s;
    }
    .chat-app{
        right: 0vw;
        transition: 0s;
    }
}




/* --------------------  1024  ----------------------------- */




/* @media(min-width: 1024px){
    .chat-app-container{
        width: 446px;
        height: 92.222vh;
        top: 7.778vh;
        transition: 0.2s;
    }
    .chat-app{
        right: -69.028vw;
        transition: 0.2s;
    }
} */




/* ----------------  1440  --------------------- */




/* @media(min-width: 1440px){
    .chat-app-container{
        width: 30.972vw;
    }
} */