.chat-app-container{
    position: absolute;
    overflow: hidden;
    top: 7.778vh;
    right: 0;
    width: 30.972vw;
    height: 92.222vh;
    z-index: -1;
    transition: 0.2s;
}

.chat-app{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: -100vh;
    right: -69.028vw;
    background-color: red;
    transition: 0.2s;
    font-size: 50px;
}



/* ----------------------  768  -----------------------



@media(min-width: 768px){
    .chat-container{
        width: 100vw;
        height: 93.652vh;
        top: 6.348vh;
        transition: 0s;
    }
    .chat-app{
        right: 0vw;
        transition: 0s;
    }
}




/* --------------------  1024  ----------------------------- */




@media(min-width: 1024px){
    .chat-app-container{
        width: 446px;
        height: 92.222vh;
        top: 7.778vh;
        transition: 0.2s;
    }
    .chat-app{
        right: -69.028vw;
        transition: 0.2s;
    }
}




/* ----------------  1440  --------------------- */




@media(min-width: 1440px){
    .chat-app-container{
        width: 30.972vw;
    }
}