.full-post-container{
    width: 500px;
    height: 92.222vh;
    padding: 10px 0;
    box-sizing: border-box;
    background-color: violet;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}
.author{
    font-weight: bold;
    font-style: italic;
}