.main-page-app{
    display: flex;
    flex-direction: column;
    width: 34.7vw;
    padding: 1.111vh 0 0 0;
    box-sizing: border-box;
}
.main-block{
    width: 100%;
    height: 92.222vh;
    padding: 2.5vh 0 2.5vh 0;
    box-sizing: border-box;
    background-color: #F0F2EF;
    display: flex;
    flex-direction: column;
    gap: 1.333vh;
    align-items: center;
    overflow: auto; 
    box-shadow: 1px 1px 10px #c3c5c1;
    order: 1;
}



  /* Стилізація скролбара */
.main-block::-webkit-scrollbar {
    width: 6px; /* Ширина скролбара */
}
  
.main-block::-webkit-scrollbar-thumb {
    background-color: rgba(58, 58, 58, 0.2); /* Колір повзунка скролбара */
    border-radius: 3px; /* Закругленість повзунка скролбара */
}
  
.main-block::-webkit-scrollbar-track {
    opacity: 0;
    /* background-color: rgb(172, 172, 172); */
     /* Колір треку скролбара (тло) */
}

.a1::-webkit-scrollbar {
    width: 6px; /* Ширина скролбара */
}
  
.a1::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Колір повзунка скролбара */
    border-radius: 3px; /* Закругленість повзунка скролбара */
}
  
.a1::-webkit-scrollbar-track {
    background-color: rgb(170, 18, 18); /* Колір треку скролбара (тло) */
}




/* -----------------------  300 ------------------------- */




@media (min-width: 300px){
    .main-page-app{
        width: 100%;
        padding: 0;
    }
    .main-block{ 
        padding: 2.556vh 7.161vw 0 7.161vw;
        box-sizing: border-box;
    }
}




/* ------------------  768  ---------------------------- */





@media(min-width:768px){
    .main-page-app{
        width: 100%;
        padding: 0;
        
    }
    .main-block{ 
        height: 93.652vh;
        padding: 2.148vh 8.541vw 2.148vh;
        box-sizing: border-box;
    }
}






/* -------------  1024  -------------------------------*/




@media(min-width: 1024px){
    .main-page-app{
        width: 500px;
        height: 92.223vh;
        padding: 1.111vh 0 0 0;
    }
    .main-block{
        padding: 2.5vh 0 2.5vh 0;
        box-sizing: border-box;
    }
}



@media(min-width: 1440px){
    .main-page-app{
        width: 34.722vw;
        height: 92.223vh;
    }
}
