.header{
    background-color: #616F54;
    width: 100%;
    display: flex;
    justify-content: space-between;   
    line-height: 7.87vh;
    position: absolute;
    z-index: 2;
    padding: 0 9.167vw;
    box-sizing: border-box;
} 
.logo{
    width: 100%;
    height: 7.87vh;
    padding: 1.3vh 0;
    box-sizing: border-box;
}
.nav-left{
    display: flex;
}
.nav-right{
    display: flex;
    gap: 5.208vw;
}

.nav-item{
    /* width: 14.583vw; */
    height: 7.87vh;
    display: flex;
}
/* 
.search-bar{
    width: 34.722vw;
    height: 2.778vh;
} */

.item-content{
    color: rgb(255, 255, 255);
    text-decoration: none;   
    font-size: 2vw; 
    justify-content: center;
    display: flex;
    align-items: center;
}

.search-icon{
    display: none;
}
.burger{
    display: none;
}
.clipboard-btn-icon{
    width: 5.8vh;
    height: 5.8vh;
}
.create-btn-icon{
    width: 5vh;
    height: 5vh;
}
.btn-chat{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat-btn-icon{
    width: 5vh;
    height: 5vh;
}
/* .avatar-header{
    width: 5.556vh;
    height: 5.556vh;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
} */
.avatar-header-icon{
    width: 5vh;
    height: 5vh;
}
.btn-burger{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-burger img{
    width: 2.93vh;
    height: 1.563vh;
}
.btn-burger:hover{
    cursor: pointer;
}
.btn-chat:hover{
    cursor: pointer;
}

/* @media(min-width: 300px){
    .nav-item{
        width: 25vw;
    }
    .create{
        display: none;
    }
    .chat{
        display: none;
    }
    .prof{
        display: none;
    }
    .search-bar{
        display: none;
    }
    .search-icon{
        display: block;
    }
    .burger{
        display: block;
        width: 14.063vw; 
    }
} */
/* 
@media(min-width: 768px){

    .header{  
        line-height: 6.348vh;
    }
    .nav-item{
        width: 14.583vw;
        height: 6.348vh;
    }
    .search-bar{
        display: block;
    }
    .search-icon{
        display: none;
    }
    .burger{
        display: block;
    }

} */
/* 
@media(min-width: 1024px){
    .header{  
        line-height: 70px;
    }
    .nav-item{
        height: 70px;
    }
    .create{
        display: block;
    }
    .chat{
        display: block;
    }
    .prof{
        display: block;
    }
    .burger{
        display: none;
    }

    .btn-chat img{
        width: 50px;
        height: 50px;
    }
    .avatar-header{
        width: 50px;
        height: 50px;
        border: 2px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
    }
    .avatar-header img{
        width: 40px;
        height: 40px;
    }
    .btn-burger img{
        width: 26px;
        height: 14px;
    }
} */

/* @media(min-width: 1440px){
    .header{  
        line-height: 7.778vh;
    }
    .nav-item{
        height: 7.778vh;
    }
    .btn-chat img{
        width: 5.556vh;
        height: 5.556vh;
    }
    .avatar-header{
        width: 5.556vh;
        height: 5.556vh;
        border: 2px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
    }
    .avatar-header img{
        width: 4.444vh;
        height: 4.444vh;
    }

    .btn-burger img{
        width: 2.93vh;
        height: 1.563vh;
    }
} */
