.create-post-app{
    display: flex;
    position: absolute;
    overflow: hidden;
    /* transition: 5s; */
    /* flex-direction: row; */
    width: 60.938vw;
    height: 100vh;
    left: 20.313vw;
    /* justify-content: center;
    gap: 2.083vw;
    padding: 24.074vh 0 29.63vh 0;
    box-sizing: border-box; */
}
.create-info-block{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    /* justify-content: center; */
    gap: 2.083vw;
    padding: 24.074vh 0 29.63vh 0;
    box-sizing: border-box;
    transition: 1s;
    position: absolute;
    left: 0vw;
}
.create-post-container{
    width: 30.729vw;
    height: 46.296vh;
    display: flex;
    flex-direction: column;
    gap: 1.851vh;
    /* padding: 4.444vh 0 4.444vh 0; */
    /* box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 1.667vh;
    align-items: center;
    box-shadow: 1px 1px 10px #cccecb;
    overflow: auto; */
}
.add-photo{
    width: 30.729vw;
    height: 46.296vh;
    overflow: hidden;   
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.781vw;
    /* position: ; */
}
.title-to_add-photo{
    font-size: 1.181vw;
    margin: 0;
    color: #949494;
    /* top: 28.222vh;
    left: 47.917vw; */
}
.added-img{
    width: 100%;
}
.btn-add-photo{
    width: 28.646vw;
    height: 46.296vh;
    opacity: 0;
    position: absolute;
}
.add-photo-icon{
    width: 2.604vw;
    height: 2.604vw;
    /* top: 25.222vh;
    left: 47.917vw; */
}  
.post-info{
    width: 30.729vw;
    min-height: 5.37vh;
    max-height: 5.37vh;
    background-color: #ffffff;
    border: 0; 
    font-size: 1.146vw;  
}  
.post-info::placeholder {
    color: #949494;
    font-weight: 500;
}

.deadline-input{
    min-height: 5.556vh;
    max-height: 5.556vh;
    cursor: pointer;
}
.create-post-description{
    font-size: 1.146vw; 
    min-width: 30.729vw;
    max-width: 30.729vw;
    min-height: 16.296vh;
    max-height: 16.296vh;
    background-color: #ffffff;
    border: 0;   
    border-radius:  0.781vw;
}
.create-post-description::placeholder {
    color: #949494;
    font-weight: 500;
}
.btn-next{
    position: absolute;
    top: 76.296vh;
    border: 18.704vh;
    left: 25.782vw;
    right:45.313vw;
    width: 9.375vw;
    height: 5vh;
    color: #ffff;
    font-size: 25px;
    background-color: #78866B;
    border-radius: 0.781vw;
    transition: 1s;
}

.details-block{
    position: absolute;
    overflow: hidden;
    width: 30.729vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 20vh 0 29.63vh 0;
    box-sizing: border-box;
    transition: 1s;
    right: -30.729vw;
}
/* .detail-input-block{
    width: 30.729vw;
    height: 46.296vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    transition: 1s;
} */
/* .input-details{
    width: 30.729vw;
    min-height: 5.37vh;
    max-height: 5.37vh;
    background-color: #ffffff;
    border: 0; 
    font-size: 1.146vw;  
} */
.link-input{
    position: absolute;
    top: 29.63vh;
    left: 0;
    width: 30.729vw;
    min-height: 5.37vh;
    max-height: 5.37vh;
    background-color: #ffffff;
    border: 0; 
    font-size: 1.146vw;  
}
.card-input{
    position: absolute;
    top: 36.111vh;
    left: 0;
    width: 30.729vw;
    min-height: 5.37vh;
    max-height: 5.37vh;
    background-color: #ffffff;
    border: 0; 
    font-size: 1.146vw;  
    transition: 1s;
}
.iban-input{
    position: absolute;
    top: 42.593vh;
    left: 0;
    width: 30.729vw;
    min-height: 5.37vh;
    max-height: 5.37vh;
    background-color: #ffffff;
    border: 0; 
    font-size: 1.146vw;  
    transition: 1s;
}
.extra-details{
    overflow: hidden;
    position: absolute;
    width: 30.729vw;
    min-height: 5vh;
    max-height: 5vh;
    background-color: #fefefe;
    border: 0; 
    font-size: 1.146vw;  
    transition: 1s;
}
.link-extra{
    top: 29.63vh;
    left: 0;
    font-style: italic;
}
.card-extra{
    top: 36.111vh;
    left: 0;
    font-style: italic;
}
.iban-extra{
    top: 42.593vh;
    left: 0;
    font-style: italic;
}
.add-details{
    position: absolute;
    cursor: pointer;
    transition: 1s;
}
.remove-details{
    position: absolute;
    cursor: pointer;
    width: 1.406vw;
    height: 1.406vw;
}
.btn-back{
    overflow: hidden;
    position: absolute;
    top: 76.296vh;
    border: 18.704vh;
    left: 25.782vw;
    right:45.313vw;
    width: 9.375vw;
    height: 5vh;
    color: #ffff;
    font-size: 25px;
    background-color: #a5a4a4;
    border-radius: 0.781vw;
    transition: 1s;
}


    






/* ----------------  768  ------------------------ */


/* 
@media(min-width: 768px){
    .create-post-app{
        width: 100%;
        padding: 0;
        box-sizing: border-box;
    }
    .create-post-container{
        height: 93.652vh;
        padding: 4.883vh 0 4.883vh 0;
        box-sizing: border-box;
    }
    .add-photo{
        width: 82.292vw;
        min-height: 29.297vh;
    }
    .btn-add-photo{
        width: 82.292vw;
        min-height: 29.297vh;
    } 
    .post-info{
        width: 82.292vw;
    }
    .post-info::placeholder{
        font-size: 1.66vh;
    }
    .create-post-description{
        font-size: 1.66vh;
        width: 82.292vw;
    }
    .btn-create{
        width: 26.042vw;
        height: 5.176vh;
        font-size: 2.93vh;
        font-weight: 500;
    }
        
    .title-to_add-photo{
        font-size: 2.344vw;
        position: relative;
        left: -32.552vw;
        margin: 0 0 -1.6vh 0;
    }
} */




/* ----------------  1024  ---------------------- */




/* @media(min-width: 1024px){
    .create-post-app{
        width: 500px;
        height: 88.333vh;
        padding: 1.111vh 0 1.111vh 0;
        box-sizing: border-box;
        gap: 15px;
    }
    .create-post-container{
        padding: 4.444vh 0 4.444vh 0;
        box-sizing: border-box;
    }
    .btn-add-photo{
        width: 420px;
        min-height: 200px;
    }
    .add-photo{
        width: 420px;
        min-height: 200px;
    }
    .create-post-description{
        width: 420px;
        min-height: 100px;
    }
    .btn-create{
        width: 123px;
        min-height: 45px;
    }
    .post-info{
        width: 420px;
        min-height: 40px;  
    }
    .title-to_add-photo{
        font-size: 17px;
        position: relative;
        left: -145px;
        margin: 0 0 -1.667vh 0;
    }
} */



/* ---------  1440  --------------------------- */



/* @media(min-width: 1440px){
    .create-post-app{
        width: 34.7vw;
        height: 92.222vh;
        gap: 1.667vh;
    }
    .btn-add-photo{
        width: 29.167vw;
        min-height: 22.222vh;
    }
    .add-photo{
        width: 29.167vw;
        min-height: 22.222vh;
    }
    .create-post-description{
        width: 28.889vw;
        min-height: 11.111vh;
    }
    .btn-create{
        width: 8.542vw;
        height: 5vh;
    }
    .post-info{
        width: 28.889vw;
        min-height: 4.444vh;  
    }
    .title-to_add-photo{
        font-size: 1.181vw;
        position: relative;
        left: -10.069vw;
        margin: 0 0 -1.6vh 0;
    }
} */